body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 20px;
}
h1 {
  color: #0056b3;
}
.intro,
.step {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-bottom: 20px;
  overflow: hidden; /* Add this to contain floats */
}
.step {
  position: relative;
  padding-left: 40px; /* Adjust as needed */
}
.step input[type="checkbox"] {
  float: left; /* Use float to align the checkbox */
  margin-left: -20px; /* Adjust as needed */
  margin-top: 4px; /* Adjust as needed */
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
}
label {
  display: block;
  margin-left: 40px;
  font-size: 16px;
  line-height: 24px; /* Adjust line-height to match checkbox height for vertical centering */
}
button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Add some space above the button */
}
button:hover {
  background-color: #0056b3;
}

.highlight {
  color: #007bff; /* Choose your color */
  font-weight: bold;
  font-size: 1.2em; /* Larger size */
}
