body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 20px;
}
h1 {
  color: #0056b3;
}
.intro,
.step {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.step {
  /* Other styles remain unchanged */
  padding-left: 35px; /* Increase padding to make room for the checkbox */
}
.step input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
  /* Adjust size */
  width: 25px;
  height: 25px;
  /* Position to center vertically with the text */
  position: relative;
  top: 6px;
}
label {
  display: block;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
}
button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0056b3;
}

/* New style for responsive alignment */
@media screen and (max-width: 768px) {
  .step {
    padding-left: 45px; /* Increase padding for smaller screens if necessary */
  }
  .step input[type="checkbox"] {
    top: 4px; /* Adjust position for smaller screens if necessary */
  }
}
